ul.nav.nav-tabs {
  color: #3694ED;
  font-size: 20px;
  font-weight: bold;
}
.tab-content {
  padding: 1%;
  box-shadow: 8px 8px 3px #d3d3d3, -1px 0px 3px #d3d3d3;
}
.tab-pane {
  padding: 2%;
}
.tab-pane #inf-personal {
  width: 100%;
}
.tab-pane .btn.input-form {
  width: 100%;
}
.tab-pane .input-formu:disabled {
  border: none;
  background: none;
  cursor: auto;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: blue;
}
.tab-pane .table-title {
  box-shadow: 2px 2px 2px lightgray;
}
.tab-pane .table-title tr {
  border: 1px solid lightgray;
}
.tab-pane .table-title tr th {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #3694ED;
  text-shadow: 2px 2px 1px lightgray;
}
.tab-pane .table-title tr td {
  text-transform: uppercase;
}
