@font-face {
  font-family: 'ChelaOne-Regular';
  src: url('../fonts/ChelaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.container {
  font-family: "ChelaOne-Regular", algerian, lucida, arial, lucida;
}
.container .navbar-brand {
  font-size: 40px;
}
.container .navbar-brand span {
  color: #009cb2;
}
.navbar {
  margin-bottom: 10px;
}
.container h2 {
  font-family: "ChelaOne-Regular";
  color: #009cb2;
}
.container p {
  font-size: 16px;
  text-align: justify;
}
.contactos {
  width: 60%;
  border: none;
}
.contactos tr {
  width: 100%;
}
.contactos tr td:nth-child(2n+1) {
  font-size: 20px;
}
.contactos tr td:nth-child(2n) {
  color: #009cb2;
  font-size: 15px;
}
.contactos tr td > a {
  font-family: "ChelaOne-Regular", algerian, lucida, arial, lucida;
  color: #009cb2;
}
.modal-footer p {
  font-weight: bold;
}
