.table {
  border: none;
}
.table tr {
  border: none;
}
.table tr td {
  border: none;
}
legend {
  text-transform: uppercase;
  font-weight: bolder;
  color: blue;
  text-shadow: 2px 2px 3px rgba(5, 68, 232, 0.8);
}
#descripcion {
  width: 100%;
  height: 100px;
}
.input-form {
  width: 100%;
}
.nextStep {
  color: green;
  float: right;
}
.backStep {
  color: red;
  float: left;
}
fieldset {
  border: 1px solid #fff;
}
fieldset .infor {
  font-weight: bolder;
}
#universidad option {
  width: 25%;
}
#list-titulos tr {
  width: 100%;
}
#list-titulos tr th {
  font-weight: bolder;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px lightgray;
}
#list-titulos tr th:nth-child(1) {
  width: 7%;
}
#list-titulos tr td {
  text-align: justify;
  font-size: 15px;
  overflow: hidden;
  overflow-x: auto;
}
.alert {
  display: none;
}
#container-info-lab {
  display: none;
}
